body {
    overflow-x: hidden;
}
.Pizzabox-heroSection{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0,0.5)), url(/images/heroimage.jpeg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size:cover;  
}
.Pizzabox-heroSection-bg{
    width: 100%;
    position: absolute;
    top: 0%;   
}
.Pizzabox-heroSection-email, .Pizzabox-heroSection-opening, .Pizzabox-heroSection-menu, .Pizzabox-heroSection-content {
    color: #ffffff;
    font-family: "josefin Sans", sans-serif;
}

.Pizzabox-heroSection-content h3{
    color:#DD0808;
    font-family: "order pizza";
    font-size: 60px;
}
.Pizzabox-heroSection-content h5{
    font-size: 48px;
}
.Pizzabox-heroSection-content button{
    height: 40px;
    background: #DD0808;
    color: #ffffff;
    border: 0;
}
.Pizzabox-ourStory h3{
    font-family: "Order Pizza";
    color: #DD0808;
    text-align: center;
    margin-top: 50px;
}

.Pizzabox-ourStory-content{
    margin-top: 50px;
    font-family: "josefin Sans", sans-serif;
}
.Pizzabox-ourStory-img1, .Pizzabox-ourStory-img2{
    margin-left: 15px;
    padding-top: 15px;
}
.Pizzabox-ourStory-content-welcome{
    margin-top: 60px;  
}
.Pizzabox-ourStory-content-welcome h5{
    font-size: 48px;  
}
.Pizzabox-ourStory-content-welcome p{
    color: #a1a1a1;    
}
.Pizzabox-ourStory-img3{
    margin-top: 106px;
}
.Pizzabox-ourStory-content-sign{
     width: 150px;
}
.Pizzabox-ourStory-content-chef{
    border-radius: 50%;
    margin-top: 25px;
    width: 150px;
}
.Pizzabox-ourStory-content-name h6{
    position: absolute;;
    bottom: 0px;
    left: 0;
}
.Pizzabox-ourStory-content-name h4{
    position: absolute;;
    bottom:30px;
    left: 0;
}
.height-full {
    height: 409px;
}
.parent {
    border-bottom: 2px solid #f8f9fa;
}
.parent:hover {
    border-bottom: 2px solid #f31311;
}
.image-Hover1 {
    width: 130px;
    height: 62px;
    background: url("/client/images/restaurant.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
    /* transition: all 0.6s ease; */
}
.parent:hover .image-Hover1 {
    width: 62px;
    height: 62px;
    background: url("/client/images/restaurant.png") no-repeat;
    background-size: contain;
}
.image-Hover2 {
    width: 130px;
    height: 62px;
    background: url("/client/images/soft-drinks.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
    /* transition: all 0.6s ease; */
}
.parent:hover .image-Hover2 {
    width: 62px;
    height: 62px;
    background: url("/client/images/soft-drinks.png") no-repeat;
    background-size: contain;
}
.image-Hover3 {
    width: 130px;
    height: 62px;
    background: url("/client/images/spoon-and-fork.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
    /* transition: all 0.6s ease; */
}
.parent:hover .image-Hover3 {
    width: 62px;
    height: 62px;
    background: url("/client/images/spoon-and-fork.png") no-repeat;
    background-size: contain;
}
.image-Hover4 {
    width: 130px;
    height: 62px;
    background: url("/client/images/pizza.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
    /* transition: all 0.6s ease; */
}
.parent:hover .image-Hover4 {
    width: 62px;
    height: 62px;
    background: url("/client/images/pizza.png") no-repeat;
    background-size: contain;
}
.image-Hover5 {
    width: 130px;
    height: 62px;
    background: url("/client/images/soup-bowl.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
    /* transition: all 0.6s ease; */
}
.parent:hover .image-Hover5 {
    width: 62px;
    height: 62px;
    background: url("/client/images/soup-bowl.png") no-repeat;
    background-size: contain;
}
.image-Hover6 {
    width: 130px;
    height: 62px;
    background: url("/client/images/coffee-alt.svg") center no-repeat;
    display: inline-block;
    background-size: contain;
 
}
.parent:hover .image-Hover6 {
    width: 62px;
    height: 62px;
    background: url("/client/images/coffee-alt.png") no-repeat;
    background-size: contain;
}
.Pizzabox-WeekSpecial{
    margin-top: 70px;
    margin-bottom: 50px;
}

.Pizzabox-WeekSpecial-content{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0,0.5)), url(/images/heroimage.jpeg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-size:cover;  
    font-family: "josefin Sans", sans-serif;  
}

.Pizzabox-WeekSpecial-content h3{
    font-family: "order pizza";
    color:#DD0808;
    font-size: 30px;
}

.Pizzabox-WeekSpecial-content h5{
    font-size: 30px;
    color:rgb(255, 255, 255);
    
}

.Pizzabox-WeekSpecial-content-img{
    height: 100px;
    width: 200px;
}

.Pizzabox-WeekSpecial-content button{
    height: 40px;
    background: #DD0808;
    color: #ffffff;
    border: 0;
}

.Pizzabox-WeekSpecial-content-price{
    background-color: #ffffff;
    width: 200px;
   
}





/* // Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
