body {
  font-family: "josefin Sans", sans-serif;
}
.Pizzabox-heroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/heroimage.jpeg);
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
}
.Pizzabox-heroSection-bg {
  width: 100%;
  position: absolute;
  top: 0%;
}
.Pizzabox-heroSection-email,
.Pizzabox-heroSection-opening,
.Pizzabox-heroSection-menu,
.Pizzabox-heroSection-content {
  color: #ffffff;
  font-family: "josefin Sans", sans-serif;
}
.Pizzabox-heroSection-menu li {
  padding: 10px 20px;
}

.Pizzabox-heroSection-content h3 {
  color: #ffffff;
  font-family: "order pizza";
  font-size: 60px;
}
.Pizzabox-heroSection-content h5 {
  font-size: 48px;
}
.Pizzabox-heroSection-content button {
  height: 40px;
  background: #dd0808;
  color: #ffffff;
  border: 0;
}
.Pizzabox-ourStory h3 {
  font-family: "Order Pizza";
  color: #dd0808;
  text-align: center;
  margin-top: 50px;
}

.Pizzabox-ourStory-content {
  margin-top: 50px;
  font-family: "josefin Sans", sans-serif;
}
.Pizzabox-ourStory-img1,
.Pizzabox-ourStory-img2 {
  margin-left: 15px;
  padding-top: 15px;
}
.Pizzabox-ourStory-content-welcome {
  margin-top: 60px;
}
.Pizzabox-ourStory-content-welcome h5 {
  font-size: 48px;
}
.Pizzabox-ourStory-content-welcome p {
  color: #a1a1a1;
}
.Pizzabox-ourStory-img3 {
  margin-top: 106px;
}
.Pizzabox-ourStory-content-sign {
  width: 150px;
}
.Pizzabox-ourStory-content-chef {
  border-radius: 50%;
  margin-top: 25px;
  width: 150px;
}
.Pizzabox-ourStory-content-name h6 {
  position: absolute;
  bottom: 0px;
  left: 0;
}
.Pizzabox-ourStory-content-name h4 {
  position: absolute;
  bottom: 30px;
  left: 0;
}

.Pizzabox-video {
  margin-top: 50px;
  height: 100vh;
  width: 80%;
  position: relative;
}

.Pizzabox-video-area {
  z-index: 0;
  transform: translate(10%, 0%);
}

.Pizzabox-video-text {
  position: absolute;
  top: 30%;
  right: 20%;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-family: "josefin Sans", sans-serif;
  z-index: 1;
}
.Pizzabox-video-text h5 {
  font-size: 48px;
}
.Pizzabox-menu h5 {
  font-family: "order pizza";
  color: #dd0808;
}
.Pizzabox-menu h6 {
  font-weight: bold;
}
.Pizzabox-contactUs {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/come.jpeg");
  background-attachment: fixed;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  height: 50vh;
  color: #ffffff;
}

.Pizzabox-contactUs h5 {
  font-family: "order pizza";
  color: #dd0808;
  margin-top: 20vh;
  margin-left: 10%;
}
.Pizzabox-contactUs p {
  margin-left: 10%;
}
.Pizzabox-contactUs-map h5 {
  font-family: "order pizza";
  color: #dd0808;
  margin-top: 10%;
}
.Pizzabox-contactUs-map h5,
.Pizzabox-contactUs-map p,
.Pizzabox-contactUs-map input {
  margin-left: 10%;
}
.newsletter {
  font-weight: bold;
}

/* // Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
